<nav class="navbar navbar-expand-sm navbar-light bg-light navbar-default  navbar-custom">
    <a class="navbar-brand" href="{% url 'home' %}">Tweet Me</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'create' %}">Create <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item active">
          <a class="nav-link" href="{% url 'list' %}">Tweet <span class="sr-only">(current)</span></a>
        </li> -->
      </ul>
      {% include 'tweet/search_form.html' %}
    </div>
  </nav>