<nav
  class="navbar navbar-expand-sm navbar-light bg-light navbar-default  navbar-custom"
>
  <a class="navbar-brand" href="{% url 'home' %}">Tweet Me</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    {% if request.user.is_authenticated %}
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'create' %}"
          >Create <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Account
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="nav-link" href="{{ request.user.profile.get_absolute_url }}"
          >Profile <span class="sr-only">(current)</span></a
          >
          <div class="dropdown-divider"></div>
          <a class="nav-link" href="{% url 'logout' %}"
          >Logout <span class="sr-only">(current)</span></a
          > 
        </div>
      {% else %}
      <ul class=" nav navbar-nav mr-auto mt-2 mt-lg-0 navbar-right">
      <li class="nav-item active">
        <button type="Register" class="btn btn-default">
          <a href="{% url 'login'%}">Login</a>
      </li>
      <li class="nav-item active">
        <button type="Register" class="btn btn-default ">
          <a href="{% url 'register'%}">Register</a>
        </button>
      </li>
      {% endif %}
    </ul>
    {% include 'tweet/search_form.html' %}
  </div>
</nav>
